
body{
    padding: 3em;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.aboutLeft, .aboutRight{
    flex: 1;
    padding: 2rem;
}

.aboutLeft{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 7px;
    background-color: #A3C9A8;
    /* justify-content: center; */
    align-items: normal;
    color: #064420;
}

.aboutLeft p{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
}

@media (max-width: 768px) {
    .about{
        display: flex;
        flex-direction: column;
    }
}